.start {
    background-color: antiquewhite;
}

.start h1 {
    font-size: 30px;
    border-style: dashed;
    border-width: 25%;

}

nav{
    text-align: right;
}

.AboutMe h2{
    font-size: 30px;
    border-style: dashed;
    border-width: 25%;

}

.AboutMe p{
    justify-content: right;
}

.PreviousWork h2{
    font-size: 30px;
    border-style: dashed;
    border-width: 25%;
}